@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700');

.list{
    margin: 0;
    padding: 0;
    display: flex;
}


.list .entry:hover{
    background: #86ff3b;
    box-shadow: 0 0 0 4px #333;
}

.list .entry .content{
    position: absolute;
    bottom: 55px;
    width: 400px;
    background: #fff;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 4px;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    transform: translateX(-50%) translateY(-50px);
}

.list .entry .content:before{
content: '';
position: absolute;
width: 30px;
height: 30px;
background: #fff;
bottom: -15px;
left: 194px;
transform: rotate(45deg);
}

.list .entry:hover .content{
    visibility: visible;
    opacity: 1;
    transform: translateX(-50%) translateY(0px);
}

.list .entry .content h2 {
    margin: 0;
    padding: 0;
}
.list {
    width: 30px;
    float: left;
    cursor: pointer;
}
.code-selector {
    width: 30px;
    float: left;
    margin-left: -2.5em;
    cursor: pointer;
    margin-top:0.5em;
}