/* Three image containers (use 25% for four, and 50% for two, etc) */

.column {
    float: left;
    width: 33.33%;
}

.row {
    margin-left: -53px;
    margin-top: -2px;
}

h4{
    margin: 0px;    
}

ul{
    list-style: none;
}

/* Clear floats after image containers */

.list .entry .content {
    font-size: Helvetica, Arial, sans-serif;
    margin-left: -2.25em;
    width: 125px;
    padding: 0px;
    margin-left: -100px;
    box-sizing: border-box;
    border-radius: 15px;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    transform: translateX(-50%) translateY(-50px);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    background: white;
}

.content li{
    display: flex;
    align-items: flex-end;
}

.content span{
    color: gray;
}

.inner {
    padding: 10px;
    font-size: 11px;
}

.icons {
    width: 20px;
    height: auto;
    padding-right: 1px;
    margin: 2px;
}

.list .entry:hover .content {
    visibility: visible;
    opacity: 1;
    transform: translateX(-50%) translateY(0px);
}

.list .entry .content h2 {
    margin: 0;
    padding: 0;
}

.list {
    margin-right: -2.5em;
    width: 30px;
    float: left;
    cursor: pointer;
}

.code-selector {
    width: 25px;
    float: left;
    margin-left: -2.25em;
    cursor: pointer;
    margin-top: 0.5em;
}

.percentage{
    display: inline-block;
    margin-left: auto;
    font-weight: bold;
}