<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>CODE Options Manager</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.bundle.min.js"></script>
    <script src="/js/options.js"></script>
</head>

<body>

    <nav class="navbar navbar-expand-sm bg-dark text-light justify-content-center">
        <h3> CODE Options Manager </h3>
    </nav>

    <div class="container-sm pt-3 p-3 text-dark">
        <nav class="navbar navbar-expand row justify-content-center">
            <button type="button" class="btn btn-lg btn-light">Allgemein</button>
            <button type="button" class="btn btn-lg btn-secondary">Präferenzen</button>
            <button type="button" class="btn btn-lg btn-light">Erweitert</button>
            <button type="button" class="btn btn-lg btn-light">Hilfe</button>

        </nav>

    </div>


    <div class="container-sm pt-3 p-3 text-center rounded">
        <div class="row justify-content-center">

            <div class="col-4">
                <div class="jumbotron">
                    <h1 class="display-5">preferences</h1>
                    <p class="lead">Passe deine CODE Päferenzen an, füge privacy aspects hinzu oder entferne sie, erstelle und pflege eigene Präferenzlisten</p>
                    <hr class="my-4">
                    <p>It uses utility classes for typography and spacing to space content out within the larger
                        container.</p>
                    <p class="lead">
                        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
                    </p>


                </div>


                <!--
                <form method="post" action="">
                    <div class="form-group">
                        <h3><label for="url">Choose prefence</label></h3>
                        <p>Passe deine CODE Päferenzen an, füge privacy aspects hinzu oder entferne sie, erstelle und pflege eigene Präferenzlisten</p>
                    </div>
                </form>
            -->
            </div>



        </div>
        <div class="row p-5 justify-content-center">
            <div class="col-8">
                <a href="#how" class="btn btn-dark" data-toggle="collapse">How does it work?</a>
                <div id="how" class="collapse">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                    pariatur.
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                    est laborum.
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-expand-sm fixed-bottom bg-dark text-light justify-content-center">
        provided by CODE <img src="../images/green_icon_32.png" height="32" width="32" alt="logo" /></nav>
</body>

</html>