<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>CODE Options Manager</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/options.css">
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.bundle.min.js"></script>
    <script src="/js/options.js"></script>
</head>

<body style="background-color:whitesmoke">

    <nav class="navbar navbar-expand-sm bg-dark text-light justify-content-center">
        <h3> CODE Options Manager </h3>
    </nav>

    <div class="container-sm pt-3 p-3 text-dark">
        <nav class="navbar navbar-expand row justify-content-center">
            <button type="button" class="btn btn-lg btn-light">Allgemein</button>
            <button type="button" class="btn btn-lg btn-light" href="#pref"
                data-toggle="collapse">Präferenzen</button>
            <button type="button" class="btn btn-lg btn-light" href="#more" data-toggle="collapse">Erweitert</button>
            <button type="button" class="btn btn-lg btn-light" href="#help" data-toggle="collapse">Hilfe</button>

        </nav>

    </div>

    <div class="container-sm pt-3 p-3 text-center rounded">
        <div class="row justify-content-md-center">
            <div class="col-10">
                <div class="jumbotron" style="background: white;">
                    <h1 class="display-5">general info</h1>
                    <p class="lead">Passe deine CODE Päferenzen an, füge privacy aspects hinzu oder entferne sie,
                        erstelle und pflege eigene Präferenzlisten</p>
                    <hr class="my-4">
                    <p>It uses utility classes for typography and spacing to space content out within the larger
                        container.</p>
                    <p class="lead">
                        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
                    </p>
                </div>
            </div>
        </div>



        <div class="row justify-content-md-center ">
            <div class="col-10 collapse" id="pref">

                <div class="card " style="background: white;">
                    <h2 class="card-header">personal preferences</h2>
                    <div class="card-body">

                        <div class="source container">
                            <h4 style="text-align: left;">whotracksme</h4>
                            <hr class="my-4">

                            <div class="row">
                                <div class="container">
                                    <div class="row">
                                        <label class="switch">
                                            <input type="checkbox" id="Facebook">
                                            <span class="slider round"></span>
                                        </label>
                                        <p class="des-sw">Look for facebook tracker?</p>
                                    </div>
                                    <div class="row lead">
                                        <p class="des">Enables the inlcusion of facebook tracker into the label
                                            calculation.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="container">
                                    <div class="row">
                                        <label class="switch">
                                            <input type="checkbox" id="Amazon">
                                            <span class="slider round"></span>
                                        </label>
                                        <p class="des-sw">Look for Amazon tracker?</p>
                                    </div>
                                    <div class="row lead">
                                        <p class="des">Enables the inlcusion of facebook tracker into the label
                                            calculation.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="container pref-div">
                                    <div class="row">
                                        <label class="switch">
                                            <input type="checkbox"id="weight_tracker">
                                            <span class="slider round"></span>
                                        </label>
                                        <p class="des-sw">Weight number of tracker</p>
                                    </div>
                                    <div class="row lead">
                                        <p class="des">Puts more emphasis on the number of tracker used.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="container">
                                    <div class="row">
                                        <label class="switch">
                                            <input type="checkbox"id="disable">
                                            <span class="slider round"></span>
                                        </label>
                                        <p class="des-sw">Disable WhoTracksMe Database</p>
                                    </div>
                                    <div class="row lead">
                                        <p class="des">You can click <a href="https://whotracks.me/"
                                                target="_blank">here</a> if you want to know more about this source of
                                            information.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="source container">
                            <h4 style="text-align: left;">privacyspy</h4>
                            <hr class="my-4">

                            <div class="row">
                                <div class="container">
                                    <div class="row">
                                        <label class="switch">
                                            <input type="checkbox">
                                            <span class="slider round"></span>
                                        </label>
                                        <p class="des-sw">Disable Privacy Spy API</p>
                                    </div>
                                    <div class="row lead">
                                        <p class="des">You can click <a href="https://privacyspy.org/directory/"
                                                target="_blank">here</a> if you want know more about this source of
                                            information.
                                        </p>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="source container">
                            <h4 style="text-align: left;">phishstats</h4>
                            <hr class="my-4">

                            <div class="row">
                                <div class="container">
                                    <div class="row">
                                        <label class="switch">
                                            <input type="checkbox">
                                            <span class="slider round"></span>
                                        </label>
                                        <p class="des-sw">Disable Phishstats API</p>
                                    </div>
                                    <div class="row lead">
                                        <p class="des">You can click <a href="https://phishstats.info/"
                                                target="_blank">here</a> if you want know more about this source of
                                            information.
                                        </p>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>


                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-md-center">
        <div class="col-10">
            <div class="collapse" id="more">
                <div class="jumbotron" style="background: white;" >
                    <h1 class="display-5">who is code</h1>
                    <p class="lead">Passe deine CODE Päferenzen an, füge privacy aspects hinzu oder entferne
                        sie,
                        erstelle und pflege eigene Präferenzlisten</p>
                    <hr class="my-4">
                    <p>It uses utility classes for typography and spacing to space content out within the
                        larger
                        container.</p>
                    <p class="lead">
                        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-md-center">
        <div class="col-10">
            <div class="collapse" id="help">
                <div class="jumbotron" style="background: white;" >
                    <h1 class="display-5">need help?</h1>
                    <p class="lead">Passe deine CODE Päferenzen an, füge privacy aspects hinzu oder entferne
                        sie,
                        erstelle und pflege eigene Präferenzlisten</p>
                    <hr class="my-4">
                    <p>It uses utility classes for typography and spacing to space content out within the
                        larger
                        container.</p>
                    <p class="lead">
                        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
                    </p>
                </div>
            </div>
        </div>
    </div>


    <div class="row p-5 justify-content-center">
        <div class="col-8" style="text-align: center;">
            <a href="#how2" class="btn btn-dark" data-toggle="collapse">How does it work?</a>
            <div id="how2" class="collapse">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore
                et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                commodo
                consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
                anim id
                est laborum.
            </div>
        </div>
    </div>
    </div>

    <nav class="navbar navbar-expand-sm fixed-bottom bg-dark text-light justify-content-center">
        provided by CODE <img src="../images/green_icon_32.png" height="32" width="32" alt="logo" /></nav>
</body>

</html>