<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/custom.css">
  <title>New Tab</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <img src="/images/icon_128_clear.png" alt="code-logo">
        <h1>Welcome Moritz</h1>
        <h2 id="antwort"></h2>
      </div>
    </div>
  </div>
</body>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
</html>